@import '../../_sass/1-abstracts/index';
.coffee{


.empty{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:$gutter*2 auto;
    a{
        border: 1px solid $text-400;
        border-radius: 7px;
        color:$body-bg;
        background-color: $text-400;
        padding:10px;
        text-decoration: none;
        &:hover{
            background-color:$text-500;
            text-decoration: none;
            color:$body-bg
        }
    }

}
i{
    color:$orange-500;
    &:hover{
        transform: scale(1.25, 1.25);
    }
}

.card-body-tag{
    display:flex;
    justify-content: space-between;
    align-items: center;
    i{
        padding-top:$gutter/4;
    }
}
}